<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>万少波GitHub的简历</title>
    <meta name="description" content="我是一个充满活力、对前端由衷热爱、善于发现问题的后端端工程师。我目前正在寻找前端工程师岗位，希望借此机会为贵司献上我的一点绵薄之力，快招我到碗里来吧！">
    <meta name="keywords" content="万少波,Tinywan,后端,工作,简历">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="dist/css/fontello.min.css">
	<script src="jwplayer/jwplayer.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <aside>
        <ul>
            <li>
                <a href="https://github.com/DIYgod/Resume" target="_blank">源代码</a>
            </li>
            <li>
                <a href="wanshaobopdf.pdf" target="_blank">PDF 下载</a>
            </li>
            <li>
                <a href="http://www.cnblogs.com/tinywan" target="_blank">Blog</a>
            </li>
            <li>
                <a href="https://github.com/Tinywan" target="_blank">GitHub</a>
            </li>
        </ul>
    </aside>
    <div class="container">
        <div class="sidebar">
            <div class="title">
                <img src="img/head.png">
                <h1>万少波的简历</h1>
                <h2>"相信自己. 贵在坚持！"</h2>
            </div>
            <ul class="side-info">
                <li class="someRight">
                    <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                    <dd><i class="icon-mail-alt"></i>邮箱: <a href="mailto:i@html.love" target="_blank">overcome.wan@Gmail.com</a></dd>
                    <dd><i class="icon-wechat"></i>微信: <a href="mailto:i@html.love" target="_blank">wanwan756684177</a></dd>
                    <dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin=306578968&site=qq&menu=yes" target="_blank">756684177</a></dd>
                </li>
                <li class="someRight">
                    <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                    <dd><i class="icon-mail-alt"></i>后端工程师</dd>
                    <dd><i class="icon-wechat"></i>Linux运维工程师</dd>
                    <dd><i class="icon-qq"></i>系统构架师</dd>
                </li>
                <li class="skill">
                    <dt><i class="icon-bookmark"></i>Tech. 技能点</dt>
                    <dd>
                        <div class="skill-name">JavaScript</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 50%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">HTML</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 75%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">CSS</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 72%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">PHP</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 70%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">Shell</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 89%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">Lua</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 50%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">Linux</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 90%"></div>
                        </div>
                    </dd>
                    <dd>
                        <div class="skill-name">Nginx</div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 80%"></div>
                        </div>
                    </dd>
                </li>
            </ul>
        </div>
        <div class="main">
            <ul class="main-info"  style="margin-bottom: 20px;">
                <li class="someRight">
                    <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                    <dd><span>个人信息(Personal information):</span> {{ Personal['name'] }} / {% if Personal['max'] == 1 then %} 男 {% end %} / {{ Personal['age'] }} </dd>
                    <dd><span>教育经历(education):</span> {{ Education['degree'] }} / {{ Education['profession'] }} / {{ Education['graduation']}}</dd>
                    <dd><span>英语水平(English):</span> CET-4</dd>
                    <dd><span>常用ID:</span> Tinywan</dd>
                    <dd>
			            <span>GitHub:</span> <a href="https://github.com/Tinywan" target="_blank">https://github.com/Tinywan</a>
                    </dd>
					<dd><span>Blog:</span> <a href="http://www.cnblogs.com/tinywan" target="_blank">http://www.cnblogs.com/Tinywan</a></dd>
					<dd><span>GitBook:</span> <a href="https://www.gitbook.com/@tinywan/dashboard" target="_blank">https://www.gitbook.com/Tinywan</a></dd>
			<dd><span>Book:</span> <a href="http://www.kancloud.cn/@tinywan" target="_blank">http://www.kancloud.cn/Tinywan</a></dd>
                </li>
				 <li class="someRight">
                    <dt><i class="icon-bookmark"></i>Video introduction. 视频演示</dt>
                    <div id="my-video">视频演示正在加载...</div>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <p>Theme by <a href="https://github.com/DIYgod/Resume" target="_blank">DIYgod</a>. Made with <i class="icon-heart throb" style="color: #d43f57;"></i> by DIYgod. 最后更新于2016年3月1日</p>
    </footer>
	<script type="text/javascript">
    jwplayer("my-video").setup({
        file: "https://vodcdn.alicdn.com/oss/taobao-ugc/1dde6e764244406cbe5962b26eee078c/1476754829/video.mp4", //视频/直播 播放地址
        image: "__PUBLIC__/Common/static/images/videodemo.png", //播放前的 LOGO 图片地址
        width: "100%", //宽度
        height: "370", //高度
        hlshtml:true,
        autostart: true //自动播放
    });
</script>
</body>
</html>
