<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>万少波GitHub的简历</title>
    <meta name="description" content="我是一个充满活力、对前端由衷热爱、善于发现问题的后端端工程师。我目前正在寻找前端工程师岗位，希望借此机会为贵司献上我的一点绵薄之力，快招我到碗里来吧！">
    <meta name="keywords" content="万少波,Tinywan,后端,工作,简历">
    <link rel="shortcut icon" href="/resume/favicon.ico">
    <link rel="stylesheet" href="/resume/dist/css/style.min.css">
    <link rel="stylesheet" href="/resume/dist/css/fontello.min.css">
    <script src="/resume/jwplayer/jwplayer.js"></script>
</head>
<body>
<aside>
    <ul>
        <li>
            <a href="/resume/wanshaobopdf.pdf" target="_blank">PDF 下载</a>
        </li>
        <li>
            <a href="http://www.cnblogs.com/tinywan" target="_blank">Blog</a>
        </li>
        <li>
            <a href="https://github.com/Tinywan" target="_blank">GitHub</a>
        </li>
    </ul>
</aside>
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="/resume/img/head.png">
            <h1>万少波的简历</h1>
            <h2>"相信自己. 贵在坚持！"</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="mailto:i@html.love" target="_blank">overcome.wan@Gmail.com</a></dd>
                <dd><i class="icon-wechat"></i>微信: <a href="mailto:i@html.love" target="_blank">wanwan756684177</a></dd>
                <dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin=306578968&site=qq&menu=yes" target="_blank">756684177</a></dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd><i class="icon-mail-alt"></i>后端工程师</dd>
                <dd><i class="icon-wechat"></i>Linux运维工程师</dd>
                <dd><i class="icon-qq"></i>系统构架师</dd>
            </li>
            <li class="skill">
                <dt><i class="icon-bookmark"></i>Tech. 技能点</dt>
                <dd>
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 50%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">HTML</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 75%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">CSS</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 72%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">PHP</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 70%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">Shell</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 89%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">Lua</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 50%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">Linux</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 90%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">Nginx</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 80%"></div>
                    </div>
                </dd>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-info"  style="margin-bottom: 20px;">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><span>个人信息(Personal information):</span>{{technology[1]}} </dd>
                <dd><span>个人信息(Personal information):</span> 万少波 / 男 / 26岁 </dd>
                <dd><span>教育经历(education):</span>本科 / 计算机科学与技术专业 / 2014届</dd>
                <dd><span>英语水平(English):</span> CET-4</dd>
                <dd><span>常用ID:</span> Tinywan</dd>
                <dd>
                    <span>GitHub:</span> <a href="https://github.com/Tinywan" target="_blank">https://github.com/Tinywan</a>
                </dd>
                <dd><span>Blog:</span> <a href="http://www.cnblogs.com/tinywan" target="_blank">http://www.cnblogs.com/Tinywan</a></dd>
                <dd><span>GitBook:</span> <a href="https://www.gitbook.com/@tinywan/dashboard" target="_blank">https://www.gitbook.com/Tinywan</a></dd>
                <dd><span>Book:</span> <a href="http://www.kancloud.cn/@tinywan" target="_blank">http://www.kancloud.cn/Tinywan</a></dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Video introduction. 视频演示</dt>
                <div id="my-video">视频演示正在加载...</div>
            </li>
            <!-------------------------------->
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                <h3>阿麦科技网络有限公司（2015.7 - 2015.11）</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>吉林旅游云数据中心后台管理项目
                            <a href="http://101.227.241.6:8082/tour/index.php/home/login/index.html" target="_blank"><i class="icon-link"></i>访问地址</a>

                        </h4>
                        <p>运行在 Centos 上,参与项目采用 WebApp 的形式，后端与 deepin 操作系统深度整合</p>
                        <p>使用 ThinkPHP 框架 和 Oracle 数据库 来实现前端组件及数据交互，使用 Mysql 数据库 改进工作流</p>
                        <p></p>
                        <img height='120' src="/resume/img/jilin1.png" class="img-responsive" alt="Cinque Terre">
                        <img height='120' src="/resume/img/jilin2.png">
                        <img height='120' src="/resume/img/jilin1.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>软件版本后台管理
                            <a href="http://soft.amaitech.com/index.php?s=/Home/Login/index.html" target="_blank"><i class="icon-link"></i>访问地址</a>
                        </h4>
                        <p>运行在 Centos 上,后端与 deepin 操作系统深度整合，支持一键安装、更新和卸载软件</p>
                        <p>使用 Phalcon框架 和 Mysql 数据库 来实现前端组件及数据交互，使用 Shell 脚本改进工作流</p>
                        <p></p>
                        <img height='120' src="/resume/img/version2.png" class="img-responsive" alt="Cinque Terre">
                        <img height='120' src="/resume/img/version3.png">
                        <img height='120' src="/resume/img/version4.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>米洛克学院后台管理
                            <a href="http://mlk.amailive.com/account/signin" target="_blank"><i class="icon-link"></i>访问地址</a>

                        </h4>
                        <p>运行在 阿里云服务器 上,其中有评论交互，运行在 Qt WebKit 上，支持一键安装、更新和卸载软件</p>
                        <p>使用 Phalcon框架 和 Mysql 数据库 来实现前端组件及数据交互，使用 Redis 非关系性数据库改进工作流</p>
                        <p></p>
                        <img height='120' src="/resume/img/version2.png" class="img-responsive" alt="Cinque Terre">
                        <img height='120' src="/resume/img/version3.png">
                        <img height='120' src="/resume/img/version4.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>音之舞舞蹈前台后台管理(20160927)
                            <a href="http://yzw.amailive.com/account/signin" target="_blank"><i class="icon-link"></i>访问地址</a>
                        </h4>
                        <p>通过手机微信端实时查看15个门店每个教室的详细信息,直播观看和录像.</p>
                        <p>使用 Phalcon框架 和 Mysql 数据库 来实现前端组件及数据交互，使用 Redis 非关系性数据库改进工作流</p>
                        <p></p>
                        <img height='120' src="img/yzw1.png" class="img-responsive" alt="Cinque Terre">
                        <img height='120' src="img/yzw2.png">
                        <img height='120' src="img/yzw3.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>Nginx+RTMP+REIDS+WorkMan集合项目(20161027)
                            <a href="http://yzw.amailive.com/account/signin" target="_blank"><i class="icon-link"></i>访问地址</a>
                        </h4>
                        <p>通过手机微信端实时查看15个门店每个教室的详细信息,直播观看和录像.</p>
                        <p>使用 Phalcon框架 和 Mysql 数据库 来实现前端组件及数据交互，使用 Redis 非关系性数据库改进工作流</p>
                        <p></p>
                        <img height='120' src="img/nginrtmp1.png" class="img-responsive" alt="Cinque Terre">
                        <img height='120' src="img/nginrtmp2.png">
                        <img height='120' src="img/nginrtmp3.png">
                    </li>
                </ul>
                <h3>个人项目</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>
                            APlayer（2015.11）
                            <a href="https://github.com/DIYgod/APlayer" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="https://www.anotherhome.net/file/APlayer/" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>炒鸡好看的 HTML5 音乐播放器，GitHub 热门榜（GitHub Trending repositories）前八，npm 下载量 4k+，GitHub 上 Star 615 Fork 103</p>
                        <img src="img/aplayer.png">
                    </li>
                </ul>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <h3>Web前端</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>HTML / CSS</h4>
                        <p>能够编写语义化的 HTML，模块化的 CSS，完成较复杂的布局</p>
                        <p>熟悉 Less / Sass / Autoprefixer 等CSS预处理和后处理方法、工具</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>JavaScript</h4>
                        <p>熟悉原生Javascript，能脱离jQuery等类库编码</p>
                        <p>能运用模块化、面向对象的方式编程</p>
                        <p>了解 RequireJS jQuery AngularJS 的使用</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>其他</h4>
                        <p>熟悉 Yeoman Bower Grunt Gulp 前端自动化工具</p>
                        <p>了解前端安全、性能优化方面的一些知识</p>
                    </li>
                </ul>
                <h3>后端</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>环境</h4>
                        <p>熟悉 Linux 开发环境、 Linux 服务器环境搭建部署，两年 Linux 日常使用经验</p>
                        <p>了解 Apache Nginx web服务器，一年多建站经验</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>语言</h4>
                        <p>了解 Python，能够实现简单的爬虫、数据及图像处理工具、自动化脚本</p>
                        <p>了解 C，读过《C Primer Plus》，能编写简单的解释器</p>
                        <p>了解 Java，能进行简单的网络编程和多线程编程</p>
                    </li>
                </ul>
                <h3>所获奖项</h3>
                <ul class="exp">
                    <li>
                        <p> <a href="#" target="_blank"><i class="icon-bookmark"></i>2013.10</a>&nbsp;&nbsp;&nbsp;国家励志奖学金 <a href="#" target="_blank">&nbsp;&nbsp;国家级</a></p>
                        <p><a href="#" target="_blank"><i class="icon-bookmark"></i>2012.12</a>&nbsp;&nbsp;&nbsp;全国信息技术应用水平大赛<a href="#" target="_blank">&nbsp;&nbsp;省级</a></p>
                        <p><a href="#" target="_blank"><i class="icon-bookmark"></i>2011.12</a>&nbsp;&nbsp;&nbsp;“兰州电信”杯第二届校园网页设计大赛二等奖<a href="#" target="_blank">&nbsp;&nbsp;校级</a></p>
                        <p><a href="#" target="_blank"><i class="icon-bookmark"></i>2011.06</a>&nbsp;&nbsp;&nbsp;“神州数码”杯首届校园网页设计大赛<a href="#" target="_blank">&nbsp;&nbsp;校级</a></p>
                        <p><a href="#" target="_blank"><i class="icon-bookmark"></i>2010.12</a>&nbsp;&nbsp;&nbsp;获得“甘肃省大学生三下乡”个人优秀称号<a href="#" target="_blank">&nbsp;&nbsp;校级</a></p>
                    </li>
                </ul>
                <h3>其他</h3>
                <ul class="exp">
                    <li>
                        <p>是一个有趣的人，博客日均浏览量 1000+，GitHub Followers 550+，微博粉丝 780+，微信公众号关注用户 460+</p>
                        <p>严重强迫症，不能忍受界面一个像素的偏差，同样不能忍受代码格式一个空格的偏差</p>
                        <p>学习能力强，以上绝大多数的技能都是大三转专业之后自学修得的</p>
                        <p>掌握 Vim Git 等开发工具的使用</p>
                        <p>能够熟练使用 Markdown 进行写作</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<footer>
    <p>Theme by <a href="https://github.com/DIYgod/Resume" target="_blank">DIYgod</a>. Made with <i class="icon-heart throb" style="color: #d43f57;"></i> by DIYgod. 最后更新于2016年3月1日</p>
</footer>
<script type="text/javascript">
    jwplayer("my-video").setup({
        file: "https://vodcdn.alicdn.com/oss/taobao-ugc/1dde6e764244406cbe5962b26eee078c/1476754829/video.mp4", //视频/直播 播放地址
        image: "videodemo.png", //播放前的 LOGO 图片地址
        width: "100%", //宽度
        height: "370", //高度
        hlshtml:true,
        autostart: true //自动播放
    });
</script>
</body>
</html>
